@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
 /* Glow for Footer Text */
  .text-glow {
    text-shadow: 0 0 5px rgba(74, 144, 226, 0.7), 0 0 10px rgba(74, 144, 226, 0.5), 0 0 15px rgba(74, 144, 226, 0.3);
  }
  